<a href="https://colab.research.google.com/github/ManuelVelez2004/Semana-04-Python/blob/main/Semana_04_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Semana04-03
Manuel Silverio Velez de Villa Huacachi

Agenda
1. Numeros
2. Variables
3. Manejo de Cadenas
4. Ingreso por el teclado
5. Operadores

3. Manejo de Cadenas

In [ ]:
cadena = 'Universidad Tecnologica de Lima Sur'
cadena

'Universidad Tecnologica de Lima Sur'

In [ ]:
#Universidad Tecnologica de Lima Sur
#01234.................
#................................-2-1
cadena[5]

'r'

In [ ]:
cadena[10]

'd'

In [ ]:
#Tambien se considera los espacios en blanco
cadena[11]

In [ ]:
cadena[-23]

'T'

In [ ]:
#Para mostrar una subcadena [desde, hasta una antes]
#En java era substring()
cadena[3:8]

'versi'

In [ ]:
#Para saber el tamaño de una cadena usamos len()
#inclye espacios en blanco
len(cadena)

35

In [ ]:
#para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD TECNOLOGICA DE LIMA SUR'

In [ ]:
cadena.lower()

'universidad tecnologica de lima sur'

In [ ]:
#Generar una lista a partir de una cadena  split()
cadena.split()

['Universidad', 'Tecnologica', 'de', 'Lima', 'Sur']

In [ ]:
#Generar una lista utilizando un criterio de separcion a partir de una cadena
#EN este caso vamos a generar una lista de toda la cadena,
#
cadena.split("a")

['Universid', 'd Tecnologic', ' de Lim', ' Sur']

In [ ]:
#forma clasica de concaternar
nombre = "manuel"
print("Hola "+ nombre)

Hola manuel

In [ ]:
#utilizando el .format()
nombre = "Manuel Silverio"
edad = 18
print("Hola {} ya se que tienes {} años".format(nombre, edad))

Hola Manuel Silverio ya se que tienes 18 años

In [ ]:
#dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 es {} ".format(resultado))
print("10/3 es = {r:1.2f}".format(r=resultado))

10/3 es 3.3333333333333335
10/3 es = 3.33

In [ ]:
#Dar como formato con f
#La funcion f, esta disponible desde la version 3.6
nombre = "Manuel Silverio"
edad = 20
print(f"Buenos dias {nombre}, ya se que tienes {edad} años")

Buenos dias Manuel Silverio, ya se que tienes 20 años

In [ ]:
#Dar formato a numros con muchos decimales con f
resultado =10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.2f}")

10/3 es = 3.3333333333333335
10/3 es = 3.33