<a href="https://colab.research.google.com/github/ManuelVelez2004/Semana-04-Python/blob/main/Semana_04_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Agenda
1. Numeros
2. Variables
3. Manejo de Cadenas
4. Ingreso por el teclado
5. Operadores

5.Operadores

In [ ]:
#5.1 Operadores aritmeticos
#se tiene : +,-,*,/,**,%,//

In [ ]:
numero1=12
numero2=5
suma=numero1+numero2
resta=numero1-numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

17
7
60
2.4
2
2
248832

In [ ]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=
numero = 6
numero = numero + 8
print(numero)

14

In [ ]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 4
numero += 7
print(numero)

11

In [ ]:
# Lo mismo se puede hacer con todos los casos, incluso la potencia
# Veamos otro ejemplo:
numero = 5
numero = numero ** 4
print(numero)

625

In [ ]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 4
print(numero)

625

In [ ]:
# 5.3 Operadores de comparación
# Se tiene: ==, !=, <, >, <=, >=,
# Ejemplo de igualdad ==
numero1 = 6
numero2 = 2
numero1 == numero2

False

In [ ]:
# Con las cadenas funciona igual
nombre1 = "Manuel"
nombre2 = "Manuel"
nombre1 == nombre2

True

In [ ]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [ ]:
numero1 > numero2

False

In [ ]:
# El not invierte el resultado
not(numero1<numero2)

False

In [ ]:
numero1<numero2 and numero3<numero4

True

In [ ]:
# Tambien puedes utilizar parentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [ ]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in
# Miremos un ejemplo:
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [ ]:
# ¿Diego está en aula?
alumno1 in aula

False

In [ ]:
# ¿Juan está en aula?
alumno2 in aula

True

In [ ]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [ ]:
# ¿Juan no está en aula?
alumno2 not in aula

False

In [ ]:
# 5.6 Operadores de identidad
# Se tiene: is, is not
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
# A continuación vamos a indicar que aula3 va a
# compartir el mismo objeto que aula1
aula3 = aula1

In [ ]:
# ¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [ ]:
# ¿ aula3 comparte el mismo objeto que aula2 ?
aula3 is aula2

False

In [ ]:
# ¿ aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [ ]:
aula1.append("Diego")
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [ ]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [ ]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']